*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #181D17;
}

.aside {
  position: fixed;

  width: 44%;
  height: 100vh;

  background-size: contain;
  background-position: center;
  background-image: url('./assets/my_photo.jpg');
  background-repeat: no-repeat;
}

.shadow-block {
  &_top {
    height: 50%;
    min-height: max-content;
    padding: 30px;
  
    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #181D17 100%);
  }

  &_bottom {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 50%;
    min-height: max-content;
    padding: 30px;
  
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #181D17 100%);
  }
}

.h1 {
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.job-position {
  font-size: 28px;
  text-align: center;
  color: #0A66C2;
}

.social-icon {
  transition: all 0.3s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
}
