@body-background: #181D17;
@shadow-top: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, #181D17 100%);
@shadow-bottom: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #181D17 100%);
@white-color: #FFFFFF;
@blue-color: #0A66C2;
@yellow-color: #FFE328;
@width-tablet-big: 1024px;
@width-tablet-small: 768px;
@width-mobile: 430px;
